<h1 class="text-center mt-4">Alpha Bloggers</h1>
<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @users, :container => false %>
</div>
<%= render 'auth/user' ,users: @users %>
<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @users, :container => false %>
</div>
