<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class=" py-5 px-4 text-white rounded position-relative hero-section">
      <div class=" py-5 px-4 text-white rounded text-center" style="">
        <h1 class="display-4">Welcome to Alpha Blog</h1>
        <p class="lead">Ye ek modern jumbotron alternative hai Bootstrap 5 mein.</p>
        <hr class="my-4">
        <p>Koi bhi important message yahan daal sakte ho.</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
      </div>
    </div>
  </body>
</html>
