<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class=" py-5 px-4 text-white rounded position-relative hero-section">
      <div class=" py-5 px-4 text-white rounded text-center" style="">
        <h1 class="display-4">Welcome to Alpha Blog</h1>
        <p class="lead">Explore Articles on Web Development, Programming, and Beyond</p>
        <hr class="my-4">
        <p>Your Go-To Place for Developer Stories and Tech Insights.</p>
        <%= link_to 'Sign Up!', signup_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </body>
</html>
