<h1 class="text-center mt-4">Create Category Alpha Blog</h1>
<%= render 'form', category: @category %>
<div class="text-center mt-2 mb-5">
  <%= link_to '[ Cancel and return To Categories Listing ]', categories_path, class:'text-info' %>
</div>
