<% if notice.present? %>
  <div class="container-fluid" style="background-color: #c0c0c0;">
    <div class="d-flex justify-content-center mt-5">
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 60%;">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% end %>
